<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.strandburg.taskorganizer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="us.strandburg.taskorganizer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="us.strandburg.taskorganizer.TaskViewActivity" />
        <activity
            android:name="us.strandburg.taskorganizer.AlertViewActivity"
            android:parentActivityName="us.strandburg.taskorganizer.TaskViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TaskViewActivity" />
        </activity>
        <activity
            android:name="us.strandburg.taskorganizer.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="us.strandburg.taskorganizer.AlarmActivity"
            android:label="@string/title_activity_test" >
        </activity>

        <receiver
            android:name="us.strandburg.taskorganizer.DatabaseUpdater"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="us.strandburg.taskorganizer.AlarmReceiver"
            android:enabled="true" >
        </receiver>        
        
    </application>

</manifest>
